-user = User.find(params[:user_id])
-if (params[:parent_id]) != nil
  -parent = Folder.find(params[:parent_id])
  = form_for parent.childs.new do |f| 
    = f.text_field :name,{:placeholder=>"enter folder name"}
    = f.hidden_field :user_id
    = f.hidden_field :parent_id
    = f.submit "Create CHILD #{params[:folder_id]}",{:class=>'btn btn-info'}
-else
  = form_for Folder.new do |l| 
    = l.text_field :name,{:placeholder=>"enter folder name"}
    = l.hidden_field :user_id
    = l.hidden_field :parent_id
    = l.submit "Create #{params[:folder_id]}",{:class=>'btn btn-info'}

