-folder = Folder.find(params[:folder_id])
-user = User.find(session[:user_id])
=folder.parent_id
=folder.id
-if !folder.photos.empty?
  #photos
  -folder.photos.each do |photo|
    = render photo
    %br
    = link_to "remove", photo, :confirm => 'Are you sure?', :method => :delete

//= link_to "Add child folder", :controller=>:childfolder,:action=>:create,:child_id => folder
- folder.childs.each do |c|
  = c.name
=form_for folder.photos.new do |f|
  = f.text_field :name
  = f.hidden_field :folder_id
  = f.file_field :image, multiple: true, name: "photo[image]"
  = f.submit 'add photo'
  
=form_for folder.childs.new do |child|
  = child.text_field :name
  = child.hidden_field :parent_id
  = child.submit 'Create a new Folder'
  
%script#template_upload{type:"text/x-tmpl"}
  .upload
    {%=o.name%}