-tour = Tour.find(params[:tour_id])
-user = User.find(current_user.id)
:javascript
  var dbsites = #{@tsites}
  var tour_id = #{tour.id}
  var dbsources = #{@sources}
  var dbdescriptions = #{@descriptions}
  var dbhotspots = #{@hotspots}
  var dblines = #{@lines}
  var dbvertexes = #{@vertices}
%html
  %head
    %meta{:content => "initial-scale=1.0, user-scalable=no", :name => "viewport"}/
    %script{:src => "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false", :type => "text/javascript"}
    = tinymce_assets
  %body
    %h1
      =tour.name
    %br
    #searchBar 
      %p
        Find location:
        %input#searchTextField{:type => "text"}
    #content
      #map_canvas
      #library
        =render :template=>'library/show'
      #editPane
        %h1
          ="Site:"
          %input#siteName{:type => "text", :maxlength => "30"}
        %br
        %center
          #siteLatLng
        %br
        #preview
        =button_tag 'save',{:class=>'btn btn-info',:id=>'save_text'}
        #sources
          %h4 Sources:
    #buttons
      #profile_button
        =button_to 'Back to Profile',{:controller=>'sessions',:action=>'profile',:user_id=> current_user.id},{:class => 'btn btn-large btn-primary'}
      #save_tour
        =button_tag "Save Sites", {:class => 'btn btn-large btn-primary'} 

