=javascript_include_tag 'utils/facebox.js'
-tour = Tour.find(params[:tour_id])
-user = User.find(current_user.id)
:javascript
  var msites = #{@tsites}
  var tour_id = #{tour.id}
  var dblines = #{@lines}
%html
  %head
    %meta{:content => "initial-scale=1.0, user-scalable=no", :name => "viewport"}/
    %script{:src => "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false", :type => "text/javascript"}
    = tinymce_assets
  %body
    %h1
      =tour.name
    =link_to image_tag('order.png'),{:controller=>:descriptions,:action=>:show,:tour_id=>tour.id},{:id=>'tour_description',:remote=>true}
    %input#searchTextField{:type => "text",:placeholder=>'find location'}
    #content
      #map_canvas
      #sites
        -@tour.sites.each do |site|
          .mark{:data=>{:lat=>site.latitude,:lng=>site.longitude,:mid=> site.id}}
      #lines
        -@tour.lines.each do |line|
          = render line
      #library
        =render :template=>'library/show'
      #editPane
        %input#siteName{:type => "text", :maxlength => "30",:placeholder=>'site name'}
        %input#siteLat{:type => "text", :maxlength => "20",:placeholder=>'site latitude'}
        %input#siteLng{:type => "text", :maxlength => "20",:placeholder=>'site longitude'}
        %br
        #preview
        #sources
          %h4 Sources:
    #buttons
      #profile_button
        =button_to 'Back to Profile',{:controller=>'sessions',:action=>'profile',:user_id=> current_user.id},{:class => 'btn btn-large btn-primary'}
      #save_tour
        =button_tag "Save Sites", {:class => 'btn btn-large btn-primary'} 

