:javascript
  var user_id = #{session[:user_id]}
#library_buttons_panel
  = button_tag image_tag('folder.png'),{:id=>'new_folder'}
  = button_tag image_tag('photography.png'),{:id=>'new_photo'}
#directory_trail
  .folder_trail{:data=> {:fid=> 'home'}}
    = image_tag('home.png',:width=>'30px',:height=>'20px')
#file_explorer
  #folder_table
    -if !current_user.folders.empty?
      -current_user.folders.reverse.each do |folder|
        -if folder.id? && folder.parent_id.nil?
          = render :partial=>'folders/label', :locals => {:folder_id => folder.id ,:user_id=>current_user.id}
  #content_display
