-user = current_user
-user_id = user.id
:javascript
  var user_id = #{user_id}

%h2
  ="File Library:"
=button_to '+',{:controller=>:folders,:action=>:new,:user_id=>user.id,:parent_id=>nil},{:remote=>true, :id=>'folder_form'}
#library_buttons
  = button_tag image_tag('folder.png'),{:id=>'new_folder'}
  = button_tag image_tag('dcam.png'),{:id=>'new_photo'}
  = button_tag 'X', {:id=>'delete_tool',:class=>'btn-danger'}
#file_explorer
  -if !user.folders.empty?
    #folder_table
      -user.folders.reverse.each do |folder|
        -if folder.id? && !folder.parent_id?
          = render :partial=>'folders/label', :locals => {:folder_id => folder.id}
    #photo_table
